
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background: linear-gradient(90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  padding: 16px 42px;
  border-radius: 10000px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600px;
}
.btn:hover{
    cursor: pointer;
    background: linear-gradient(90deg,
    #f7e83fce 10%,
    #fb09b2b6 71%,
    #9100f8b6 90%
  );
}

/*navigation bar styles*/
.navbar{
    display: flex;
    background-color: #412567;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    height: 82px;
}
/*.logo{
    width: 220px;
    height: 32px;
}*/
.logo h3{
    font-size: 40px;
    font-weight: 800px;
    color: #FFFFFF;
}
.logo span{
  background: linear-gradient(90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.nav-content ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-content ul a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400px;
}
.menu{
    width: 28px;
    cursor: pointer;
    display: none; 
}

/*nav bar style end*/
/*banner styles*/

.banner{
    background-image: url(../resources/B13-A02-TechWave/assets/hero-bg.png);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    height: 100vh;
}
.circle{
    width: 350px;
}
.mic{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110px;
    transform: translate(-50%, -80%);

}
.banner-content h3{
    font-size: 2.5rem;
    font-weight: 700px;
    margin-bottom: 15px;
    margin-top: 30px;
    color: #FFFFFF;
}
.banner-content p{
    font-size: 0.9rem;
    margin-bottom: 24px;
    color: #FFFFFF;
}
.banner-btn{
    padding: 16px 42px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    background: transparent;
    border: 1px solid #2cff88;
    color: #2cff88;
}
.banner-btn:hover{
    background-color: #402567ad;
    cursor: pointer;
}
/*end banner styles*/

/*hero-1 styles*/

.hero-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #1A0B2E;
}
.hero-1-content{
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
}
.hero-1-content h3{
    font-size: 2.6rem;
    font-weight: 600px;
    color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 24px;
}
.hero-1-content p{
    font-size: 0.7rem;    
    color: #FFFFFF;
    line-height: 20px;
}
.hero-1 .hero-1-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 130px;
    margin-top: 120px;
    margin-bottom: 100px;
}
.hero-1-card h2{
    font-size: 2.5rem;
    font-weight: 800px;
    color: #00FF88;
}
.hero-1-card p{
    font-size: 0.7rem;
    color: #FFFFFF;
    margin-top: 16px;
}


/*small device responsiveness*/
@media screen and (max-width: 576px){
    .logo h3{
        font-size: 2.18rem;
    }
    .nav-content ul{
        display: none;
    }
    .navbar button{
        display: none;
    }
    .navbar .menu{
        display: block;
    }

    .banner{
        height: auto;
        padding: 60px 20px;
        text-align: center;
    }
    .circle{
        width: 285px;
    }
    .mic{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90px;
        transform: translate(-50%, -120%);
    }
    
    .hero-1 .hero-1-cards{
        gap: 90px;
    }
}