
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background: linear-gradient(90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  padding: 16px 42px;
  border-radius: 10000px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600px;
}
.btn:hover{
    cursor: pointer;
    background: linear-gradient(90deg,
    #f7e83fce 10%,
    #fb09b2b6 71%,
    #9100f8b6 90%
  );
}

/*navigation bar styles*/
.navbar{
    display: flex;
    background-color: #412567;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    height: 82px;
}
/*.logo{
    width: 220px;
    height: 32px;
}*/
.logo h3{
    font-size: 40px;
    font-weight: 800px;
    color: #FFFFFF;
}
.logo span{
  background: linear-gradient(90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.nav-content ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-content ul a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400px;
}
.menu{
    width: 28px;
    cursor: pointer;
    display: none; 
}

/*nav bar style end*/
/*banner styles*/

.banner{
    background-image: url(../resources/B13-A02-TechWave/assets/hero-bg.png);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    height: 100vh;
}
.circle{
    width: 350px;
}
.mic{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110px;
    transform: translate(-50%, -95%);

}
.banner-content h3{
    font-size: 2.5rem;
    font-weight: 700px;
    margin-bottom: 15px;
    margin-top: 30px;
    color: #FFFFFF;
}
.banner-content p{
    font-size: 0.9rem;
    margin-bottom: 24px;
    color: #FFFFFF;
}
.banner-btn{
    padding: 16px 42px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    background: transparent;
    border: 1px solid #2cff88;
    color: #2cff88;
}
.banner-btn:hover{
    background-color: #402567ad;
    cursor: pointer;
}
/*end banner styles*/

/*hero-1 styles*/

.hero-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #1A0B2E;
}
.hero-1-content{
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
}
.hero-1-content h3{
    font-size: 2.6rem;
    font-weight: 600px;
    color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 24px;
}
.hero-1-content p{
    font-size: 0.7rem;    
    color: #FFFFFF;
    line-height: 20px;
}
.hero-1 .hero-1-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 130px;
    margin-top: 120px;
    margin-bottom: 80px;
}
.hero-1-card h2{
    font-size: 2.5rem;
    font-weight: 800px;
    color: #00FF88;
}
.hero-1-card p{
    font-size: 0.7rem;
    color: #FFFFFF;
    margin-top: 16px;
}


/*hero-2-styles*/
.hero-2{
    background-color: #230E3D;
    padding-top: 80px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}
.hero-2-content h3{
    font-size: 2.8rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.hero-2-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(180px, auto);
    gap: 24px;
    padding: 0 80px 80px;
}
.normal-layout{
    grid-column: span 1;
    grid-row: span 2;
}
.big-layout{
    grid-column: span 2;
    grid-row: span 1;
}
.small-layout{
    grid-column: span 1;
    grid-row: span 1;
}
.hero-2-card{
    background-color: #351165;
    border-radius: 40px;
    padding: 30px;
    text-align: left;
}
.hero-2-card h3{
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.hero-2-card p{
    font-size: 14px;
    color: #FFFFFF;
    line-height: 24px;
}
.hero-2-card img{
    width: 48px;
    margin-bottom: 16px;
}

/*hero-3-styles*/
.hero-3{
    background-color: #1A0B2E;
    padding: 80px 80px 60px;
    color: #ffff;
    text-align: center;
}
.hero-3 h4{
    font-size: 2.5rem;
    margin-bottom: 40px;
}
.hero-3-cards{
    display: flex;
    gap: 24px;
}
.hero-3-card{
    background: #351165;
    border-radius: 24px;
    padding: 20px;
    text-align: left;
}
.hero-3-card h4{
    margin: 16px 0 8px;
    font-size: 1.4rem;
}
.hero-3-card p{
    font-size: 15px;
    line-height: 1.6;
}
.duration{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    font-size: 14px;
}

/*host-sec. styles*/
.host-section{
    background: #1B0B2F;
    padding: 80px;
    color: #fff;
}
.host-section h3{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 40px;
}
.host-card{
    background: #2D0F52;
    border-radius: 32px;
    display: flex;
    gap: 32px;
    padding: 40px;
    align-items: center;
}
.host-content h4{
    font-size: 1.4rem;
    margin-bottom: 12px;
}
.host-content p{
    font-size: 14px;
    line-height: 1.7;
}
.social-icons{
    display: flex;
    gap: 12px;
    margin-top: 16px;
}

/*footer styles*/
footer{
    background-image: url(../resources/B13-A02-TechWave/assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 20px;
    gap: 25px;
}
.footer-image p{
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 30px;
}
footer .logo h3 {
    font-size: 60px;
    color: #ffff;
}
.footer-image{
    display: flex;
}
.social{
    display: flex;
    gap: 5px;
}
footer p{
    color: #FFFFFF;
}


/*small device responsiveness*/
@media screen and (max-width: 576px){
    .logo h3{
        font-size: 2.18rem;
    }
    .nav-content ul{
        display: none;
    }
    .navbar button{
        display: none;
    }
    .navbar .menu{
        display: block;
    }

    .banner{
        height: auto;
        padding: 20px 10px;
        text-align: center;
    }
    .circle{
        width: 285px;
    }
    .mic{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90px;
        transform: translate(-50%, -120%);
    }
    
    .hero-1 .hero-1-cards{
        gap: 90px;
    }

    .hero-2-cards{
        display: flex;
        flex-direction: column;
    }
    .hero-2{
        margin: 0;
        padding: 40px 0;
    }

    .hero-3-cards{
        flex-direction: column;
    }

    .host-card{
        flex-direction: column;
    }

    footer{
        padding: 10px 5px;
        padding-bottom: 20px;
    }
   .footer-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 🔥 2 ta pashe pashe */
        gap: 20px 30px;
        justify-items: start;
    }
    .social {
        justify-content: center;
    }
    .social img {
        width: 20px;
    }
    .social p {
        margin: 0;
        font-size: 14px;
    }
}